
<form role="form" name="frmField" novalidate  ng-submit="createField.addField()">

<div class="form-group">
            <label for="selectFieldType">Tipo field</label>
             <select class="form-control" id="selectFieldType" ng-model="createField.field.Tipo">
                 <option value="cfditype">CFDI</option>
                 <option value="choiceType">Choice</option>
                 <option value="dateType">Date</option>
                 <option value="dateTimeType">Time</option>
                 <option value="dropDownType">Dropdown</option>
                 <option value="fileExtension">File</option>
                 <option value="textType">Text</option>
            </select>
    </div>
<div class="form-group">  
            <label for="fieldName">Nombre</label>
            <input type="text" class="form-control" id="fieldName" ng-model="createField.field.Nombre" placeholder="Nombre del campo">
        </div>
<div class="form-group">
            <label for="fieldDisplayName">Display Name</label>
            <input type="text" ng-model="createField.field.DisplayName" class="form-control" id="fieldDisplayName" placeholder="Nombre a desplegar en la forma ">
        </div>
    
    
<div class="form-group">
     <label for="fieldHelpText">Help Text</label>
      <input type="text" ng-model="createField.field.HelpText" class="form-control" id="fieldHelpText" placeholder="Texto de ayudar">
</div>
<div class="form-group" id="divFieldInstrucctions">
    <label for="fieldInstrucctions">Instrucctions</label>
    <textarea ng-model="createField.field.Instructions"  class="form-control" id="fieldInstrucctions" placeholder="Escribe las instrucciones">     </textarea>
</div>

    <div class="form-group">
        <button type="submit" >Save Field</button>
    </div>

