<div>
        
        <div class="form-group">
                    <label for="selectFieldType">Tipo field</label>
                     <select class="form-control" id="selectFieldType">
                         <option value="cfditype">CFDI</option>
                         <option value="choiceType">Choice</option>
                         <option value="dateType">Date</option>
                         <option value="dateTimeType">Time</option>
				         <option value="dropDownType">Dropdown</option>
                         <option value="fileExtension">File</option>
				         <option value="textType">Text</option>
                    </select>
            </div>
        <div class="form-group">  
                    <label for="fieldName">Nombre</label>
                    <input type="text" class="form-control" id="fieldName" placeholder="Nombre del campo">
                </div>
        <div class="form-group">
                    <label for="fieldDisplayName">Display Name</label>
                    <input type="text" class="form-control" id="fieldDisplayName" placeholder="Nombre a desplegar en la forma ">
                </div>
        <div class="form-group">
                    <label for="fieldHelpText">Help Text</label>
                    <input type="text" class="form-control" id="fieldHelpText" placeholder="Texto de ayudar">
                </div>
        <div class="form-group" id="divFieldInstrucctions">
                    <label for="fieldInstrucctions">Instrucctions</label>
                    <textarea class="form-control" id="fieldInstrucctions" placeholder="Escribe las instrucciones"></textarea>
            </div>
        
</div>