<div id="sectionList" class="row">
    <header>
        <h2 ng-if="listSectionCtrl.sections.length>0">Secciones</h2>
    </header>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="section in listSectionCtrl.sections">
            <div class="panel-heading">
                <h3 class="panel-title">
                <span>{{$index}} - Secci&oacute;n: </span>
                <a data-toggle="collapse" data-parent="#accordion" data-target="#section_Panel_{{section.name}}">
                    {{section.name}}
                    </a>                    
                </h3>
            </div>
            <div id="section_Panel_{{section.name}}" class="panel-collapse collapse out">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <span>Nombre: </span>
                                <label id="psfSectionName">{{section.name}}</label>
                            </div>
                            <div>
                                <span>T&iacute;tulo: </span>
                                <label id="psfSectionTitle">{{section.titulo}}</label>
                            </div>
                            <div>
                                <span>Instrucciones: </span>
                                <p>{{section.instrucciones}}</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="row pull-right">
                            <button type="button" class="btn btn-default">
                                <a class="glyphicon glyphicon-pencil" ng-href="#/section/edit/{{section.name}}">Editar</a>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="section.deleteSectionByName({{section.name}})">
                            <span class="glyphicon glyphicon-trash" ></span>Eliminar
                            </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <h4>N&uacute;mero de fields:<span class="badge">{{section.fields.length}}</span>
                            <a class="pull-right" href="#/field/create/{{section.name}}">Agregar Field</a>
                            </h4>

                            </div>
                            <!-- Table for fields-->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr psf-tr-field ng-repeat="field in section.fields" nombre="field.name" tipo="field.type" id="field.name" index="$index" delete-callback="section.deleteField($index)" idsection="section.name">
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <!-- tabla for sections sons-->
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <h4>N&uacute;mero de sections:<span class="badge">{{section.sections.length}}</span>
                            <a class="pull-right" href="#/section/add/{{section.name}}">Agregar secci&oacute;n</a>
                            </h4>

                            </div>
                            <!-- Table for fields-->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Numero de hijos</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr psf-tr-section ng-repeat="sect in section.sections" nombre="sect.name" hijos="sect.sections.length" id="sect.name" delete-callback="section.deleteSectionByName(sect.name)">
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>