<div id="sectionList" class="row">
    <header>
        <h2 ng-if="ventanilla.hasSections()">Secciones</h2>
    </header>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="section in psf.sections">
            <div class="panel-heading">
                <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#section_Panel_{{section.name}}">
                    <span>{{$index}}-Secci&oacute;n: </span>{{section.name}}
                    </a>
                </h3>
            </div>
            <div id="section_Panel_{{section.name}}" class="panel-collapse collapse out">
                <div class="panel-body">
                    <div>
                        <span>Nombre: </span>
                        <label id="psfSectionName">{{section.name}}</label>
                    </div>
                    <div>
                        <span>T&iacute;tulo: </span>
                        <label id="psfSectionTitle">{{section.titulo}}</label>
                    </div>
                    <div>
                        <span>Instrucciones: </span>
                        <p>{{section.instrucciones}}</p>
                    </div>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h4>N&uacute;mero de fields:<span class="badge">{{section.fields.length}}</span>
                            <a class="pull-right" href="#/field/create/{{section.name}}">Agregar Field</a>
                            </h4>
                            
                        </div>
                        <!-- Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr psf-tr-field ng-repeat="field in section.fields" nombre="field.Nombre" tipo="field.Tipo" id="field.Nombre">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>